<div class="container">
  <div class="header">
    <img [src]="friend?.avatar" alt="" width="32" height="32" />
    <p class="name">{{ friend?.name }}</p>
    <mat-icon [class.is-friend]="friend?.friend">{{
      friend?.friend ? "person" : "person_outline"
    }}</mat-icon>
    <p [class.online]="friend_online" class="is-online">•</p>
    <p class="status">{{ friend?.status }}</p>
  </div>
  <hr />
  <div class="chat">
    <div *ngFor="let msg of messages" class="message opp" [class.you]="msg.you">
      {{ msg.content }}
    </div>
  </div>
  <hr />
  <form #userForm="ngForm" (ngSubmit)="sendMessage()" novalidate>
    <mat-form-field class="form-item">
      <input
        matInput
        id="name"
        name="content"
        type="text"
        [(ngModel)]="message"
      />
    </mat-form-field>
    <button
      class="form-btn"
      type="submit"
      [disabled]="userForm.form.invalid"
      mat-icon-button
    >
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>
